@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/* body{
  font-family: 'Bebas Neue', sans-serif;
} */

.Font-bebasNeue{
  font-family: 'Bebas Neue', sans-serif;
}


.btn-primary {
  @apply bg-[#FEC000] text-black  py-2 px-4 uppercase text-sm dark:bg-teal-500 dark:text-white ;
}
.btn-primary-small {
  @apply bg-[#FEC000] text-black font-semibold py-2 px-3 uppercase text-xs ;
}


/* -----------------------------------------------------------------------------
    Custom style for react-tabs
----------------------------------------------------------------------------- */

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}
.react-tabs__tab-list {
  border-bottom: 2px solid #B52A1E !important;
  margin: 0 0 10px;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 22px !important;
  cursor: pointer;
  font-size: smaller !important;
}

.react-tabs__tab--selected {
  background: #fff;
  border-color: #B52B1D !important;
  color: white !important;
  border-radius: 0px 0px 0 0 !important;
  background: #B52B1D !important ;
}

.react-tabs__tab:focus:after {
  content: '';
  position: absolute;
  height: 0px !important;
  left: -4px;
  right: -4px;
  bottom: 0px !important;
  background: #B52A1E !important ;
}
